*.*
/_*/

# git configurations
!.gitignore

# functional files
!/README.md

# css static
!/c/**/*.css

# font static
!/f/**/*.woff

# image static
!/favicon.ico
!/i/**/*.gif
!/i/**/*.jpg
!/i/**/*.png
!/i/**/*.svg

# script static
!/j/**/*.js
