*.*

# git configurations
!.gitignore

# functional files
!/README.md

# css assets
!/c/**/*.css

# image assets
!/favicon.ico
!/i*/**/*.gif
!/i*/**/*.jpg
!/i*/**/*.png
!/i*/**/*.svg

# script assets
!/j/**/*.js
