[submodule "posts"]
	path = _posts
	url = git://github.com/snakevil/snakevil.github.com.git
	branch = posts
[submodule "static"]
	path = s
	url = git://github.com/snakevil/snakevil.github.com.git
	branch = static
[submodule "tags"]
	path = tag
	url = git://github.com/snakevil/snakevil.github.com.git
	branch = tags
