[submodule "posts"]
	path = _posts
	url = git://github.com/snakevil/snakevil.github.com.git
	branch = posts
[submodule "assets"]
	path = _assets
	url = git://github.com/snakevil/snakevil.github.com.git
	branch = assets
