---
layout: page
title: Archive
navigation: true
---
  <section><fieldset>{% assign later_mon = "" %}{% for post in site.posts %}{% capture now_mon %}{{ post.date | date:"%B %Y" }}{% endcapture %}{% if later_mon != now_mon %}{% if later_mon != "" %}
  </fieldset></section>
  <section><fieldset>{% endif %}
    <legend>{{ now_mon }}</legend>{% assign later_mon = now_mon %}{% endif %}
    <nav><ul>
      <li>
        <div>
          <time pubdate="true" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date:"%p in %d" }}</time>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </div>{% capture tags_size %}{{ post.tags | size }}{% endcapture %}{% if tags_size != "0" %}
        <nav><ul>{% for tag in post.tags %}
          <li>
            <a href="/tag/{{ tag }}.html">{{ tag }}</a>
          </li>{% endfor %}
        </ul></nav>{% endif %}{% assign tags_size = nil %}
      </li>
    </ul></nav>{% endfor %}
  </fieldset></section>
