.page-wrapper .page-main .blog-post .post-content .highlight pre {
  background-color: #222324;
  color: #bababa;
}
.page-wrapper .page-main .blog-post .post-content .highlight .c1 {
  color: #494b4d;
}
.page-wrapper .page-main .blog-post .post-content .highlight .gd {
  color: #00a8c6;
}
.page-wrapper .page-main .blog-post .post-content .highlight .gh {
  color: #75715e;
}
.page-wrapper .page-main .blog-post .post-content .highlight .gi {
  color: #a6e22e;
}
.page-wrapper .page-main .blog-post .post-content .highlight .gu {
  color: #e6db74;
}
.page-wrapper .page-main .blog-post .post-content .highlight .k {
  color: #f08d24;
}
.page-wrapper .page-main .blog-post .post-content .highlight .kd,
.page-wrapper .page-main .blog-post .post-content .highlight .nt {
  color: #e8341c;
}
.page-wrapper .page-main .blog-post .post-content .highlight .kt,
.page-wrapper .page-main .blog-post .post-content .highlight .java .kd + .n {
  color: #1cc3e8;
}
.page-wrapper .page-main .blog-post .post-content .highlight .mi,
.page-wrapper .page-main .blog-post .post-content .highlight .nb {
  color: #8e69c9;
}
.page-wrapper .page-main .blog-post .post-content .highlight .na,
.page-wrapper .page-main .blog-post .post-content .highlight .nf {
  color: #68c244;
}
.page-wrapper .page-main .blog-post .post-content .highlight .nc {
}
.page-wrapper .page-main .blog-post .post-content .highlight .s,
.page-wrapper .page-main .blog-post .post-content .highlight .s1,
.page-wrapper .page-main .blog-post .post-content .highlight .s2 {
  color: #f2d42c;
}

.page-wrapper .page-main .blog-post .post-content .highlight .bp,
.page-wrapper .page-main .blog-post .post-content .highlight .c,
.page-wrapper .page-main .blog-post .post-content .highlight .cm,
.page-wrapper .page-main .blog-post .post-content .highlight .cp,
.page-wrapper .page-main .blog-post .post-content .highlight .cs,
.page-wrapper .page-main .blog-post .post-content .highlight .err,
.page-wrapper .page-main .blog-post .post-content .highlight .gd .x,
.page-wrapper .page-main .blog-post .post-content .highlight .ge,
.page-wrapper .page-main .blog-post .post-content .highlight .gr,
.page-wrapper .page-main .blog-post .post-content .highlight .gi .x,
.page-wrapper .page-main .blog-post .post-content .highlight .go,
.page-wrapper .page-main .blog-post .post-content .highlight .gp,
.page-wrapper .page-main .blog-post .post-content .highlight .gs,
.page-wrapper .page-main .blog-post .post-content .highlight .gt,
.page-wrapper .page-main .blog-post .post-content .highlight .il,
.page-wrapper .page-main .blog-post .post-content .highlight .kc,
.page-wrapper .page-main .blog-post .post-content .highlight .kp,
.page-wrapper .page-main .blog-post .post-content .highlight .kr,
.page-wrapper .page-main .blog-post .post-content .highlight .m,
.page-wrapper .page-main .blog-post .post-content .highlight .mf,
.page-wrapper .page-main .blog-post .post-content .highlight .mh,
.page-wrapper .page-main .blog-post .post-content .highlight .mi,
.page-wrapper .page-main .blog-post .post-content .highlight .mo,
.page-wrapper .page-main .blog-post .post-content .highlight .no,
.page-wrapper .page-main .blog-post .post-content .highlight .ni,
.page-wrapper .page-main .blog-post .post-content .highlight .ne,
.page-wrapper .page-main .blog-post .post-content .highlight .nn,
.page-wrapper .page-main .blog-post .post-content .highlight .nv,
.page-wrapper .page-main .blog-post .post-content .highlight .o,
.page-wrapper .page-main .blog-post .post-content .highlight .ow,
.page-wrapper .page-main .blog-post .post-content .highlight .s2,
.page-wrapper .page-main .blog-post .post-content .highlight .sb,
.page-wrapper .page-main .blog-post .post-content .highlight .sc,
.page-wrapper .page-main .blog-post .post-content .highlight .sd,
.page-wrapper .page-main .blog-post .post-content .highlight .se,
.page-wrapper .page-main .blog-post .post-content .highlight .sh,
.page-wrapper .page-main .blog-post .post-content .highlight .si,
.page-wrapper .page-main .blog-post .post-content .highlight .sx,
.page-wrapper .page-main .blog-post .post-content .highlight .sr,
.page-wrapper .page-main .blog-post .post-content .highlight .ss,
.page-wrapper .page-main .blog-post .post-content .highlight .vc,
.page-wrapper .page-main .blog-post .post-content .highlight .vg,
.page-wrapper .page-main .blog-post .post-content .highlight .vi,
.page-wrapper .page-main .blog-post .post-content .highlight .w {}
