/* Essential {{{1 */
body {
  margin: 0;
  line-height: 1;
  font-size: 1em;
  font-family: sans-serif;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  padding: .6em 0 .4em 0;
  margin: 0;
  font-family: serif;
  white-space: nowrap;
}
h2 {
  text-transform: uppercase;
  font-size: 1.7em;
  padding: .6em 0 .4em 0;
  margin: 0;
  font-family: serif;
  white-space: nowrap;
}
h3 {
  font-variant: small-caps;
  font-size: 1.4em;
  font-family: serif;
  white-space: nowrap;
}
h4 {
  font-variant: small-caps;
  font-size: 1.2em;
  font-family: serif;
  white-space: nowrap;
}
h1 code, h2 code, h3 code, h4 code, blockquote, blockquote code {
  font-family: serif;
}
fieldset, img {
  border-width: 0;
}
fieldset, legend, ol, ul, pre, blockquote {
  margin: 0;
  padding: 0;
}
legend {
  width: 100%;
  position: relative;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 1.2em;
  padding-top: .4em;
  padding-bottom: .3em;
  text-indent: 14%;
  font-weight: bold;
}
ol, ul {
  list-style: none;
}
pre, p, li {
  line-height: 1.5;
}
a {
  text-decoration: none;
  white-space: nowrap;
}
a::before, a::after,
.post::before, .post::after {
  font-size: .6em;
}
p a, time, .tag {
  font-family: fantasy;
}
code {
  font-size: .9em;
  white-space: nowrap;
}
pre code {
  white-space: pre;
}
.post::before {
  content: '《';
}
.post::after {
  content: '》';
}
.tag::before {
  content: '#';
}
.tag-6, .tag-7, .tag-8, .tag-9, .tag-10, .tag-11, .tag-12, .tag-13, .tag-14,
.tag-15, .tag-16, .tag-17, .tag-18, .tag-19, .tag-20 {
  font-size: 1.4em;
}
.tag-4, .tag-5 {
  font-size: 1.2em;
}
.tag-2, .tag-3 {
  font-size: 1em;
}
.tag-0, .tag-1 {
  font-size: .8em;
}
/* }}}1 */

/* Common Layouts {{{1 */
.page-main {
  margin-left: 20%;
  margin-right: 20%;
}
.page-article {
  margin-top: 2em;
  margin-bottom: 2em;
}
.page-leftbar, .page-rightbar {
  position: absolute;
  z-index: 1;
  top: 10em;
  width: 19%;
}
.page-leftbar {
  left: 0;
}
.page-rightbar {
  right: 0;
}
.page-leftbar fieldset, .page-rightbar fieldset {
  margin: 1em 0;
  padding-bottom: .5em;
}
.page-leftbar legend, .page-rightbar legend {
  text-indent: 0;
  text-align: center;
}
.blog-title {
  font-variant: small-caps;
  padding: 2.4em 19% 1.6em 19%;
  white-space: nowrap;
  font-family: monospace;
}
.blog-title::before,
.blog-title::after {
  font-size: .8em;
}
.blog-title::before {
  content: '# LIFE=$(';
}
.blog-title::after {
  content: ');';
}
.blog-title a {
  font-size: 4em;
  font-family: serif;
}
.blog-brief {
  font-family: cursive;
  font-style: oblique;
  padding: .7em 19%;
}
.blog-pages {
  padding: 0 31%;
  text-align: right;
  font-size: .9em;
}
.blog-pages li {
  display: inline-block;
  padding: .3em .6em;
}
.blog-pages .blog-rss {
  margin-left: 1em;
}
.blog-power {
  font-size: .8em;
  padding: .9em 0 .6em 0;
  text-align: center;
  font-family: cursive;
}
.blog-power a {
  font-variant: small-caps;
}
.blog-license {
  font-family: serif;
  text-align: center;
  padding: 1em 0;
}
.blog-license img {
  position: relative;
  top: .1em;
}
/* }}}1 */

/* Post Page {{{1 */
.article-time {
  padding: 0.5em 19%;
  text-align: right;
  line-height: 1.5;
}
.article-time time {
  float: left;
  margin-right: 1em;
  font-style: oblique;
}
.post + .article-time time {
  float: none;
  margin-right: 0;
}
.article-time a {
  margin: 0 .4em;
  text-transform: capitalize;
}
.article-excerpt {
  font-weight: bold;
}
.article-more {
  padding: 0 1em;
}
.article-tags {
  padding: 1em 19%;
  text-align: center;
}
.article-tags a {
  text-transform: capitalize;
  padding: .3em .6em;
}
.article-siblings {
  padding: 1em 0 2em 0;
  text-align: center;
  font-size: 1.2em;
}
.article-tags legend, .article-siblings legend {
  display: none;
}
.article-tags li, .article-siblings li {
  line-height: 2;
  display: inline-block;
}
.article-next {
  float: left;
}
.article-next::before {
  content: '☜';
}
.article-previous {
  float: right;
}
.article-previous::after {
  content: '☞';
}
.article-excerpt .highlight, .article-content .highlight,
.article-excerpt p img, .article-content p img,
.article-excerpt blockquote, .article-content blockquote {
  border-radius: .5em;
}
.article-excerpt p img, .article-content p img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.article-excerpt .highlight, .article-content .highlight {
  overflow: scroll;
  padding: .5em 1em;
}
.article-excerpt blockquote, .article-content blockquote {
  padding: .5em 1em;
}
.article-excerpt blockquote::first-letter, .article-content blockquote::first-letter {
  font-weight: bold;
}
/* }}}1 */

/* Index Page {{{1 */
  .index-more {
    padding: 1em 0;
    text-align: center;
    font-size: 2em;
  }
/* }}}1 */

/* Archive Page {{{1 */
.archive-month legend {
  padding: 0;
  text-indent: 0;
  font-family: cursive;
}
.archive-month legend div {
  font-size: 3em;
  margin: 0 38% 0 0;
  padding: .6em 0 .4em 0;
}
.archive-posts div {
  margin: .5em 0;
  white-space: nowrap;
}
.archive-posts a {
  text-transform: uppercase;
  font-size: 1.2em;
}
.archive-posts time {
  font-size: .8em;
  font-style: oblique;
  font-weight: bold;
}
.archive-tags {
  padding: .5em 24% .5em 14%;
}
.archive-tags li {
  display: inline;
  line-height: 2;
  padding: 0 .1em;
}
.archive-tags a {
  text-transform: capitalize;
  font-size: 1em;
}
/* }}}1 */

/* Plugin Tags Cloud {{{1 */
.plugin-tags-cloud ul {
  margin-left: 7%;
}
.plugin-tags-cloud li {
  white-space: nowrap;
  float: right;
  margin: .3em;
}
.plugin-tags-cloud a {
  text-transform: capitalize;
}
.plugin-tags-cloud span {
  font-size: .6em;
}
/* }}}1 */
