@font-face {
  font-family: 'Almendra';
  font-style: normal;
  font-weight: 700;
  src: local('Almendra Bold'), local('Almendra-Bold'), url(https://s.szen.in/f/almendra-v5-normal-700.woff) format('woff');
}
@font-face {
  font-family: 'Arizonia';
  font-style: normal;
  font-weight: 400;
  src: local('Arizonia'), local('Arizonia-Regular'), url(https://s.szen.in/f/arizondia-v3-normal-400.woff) format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro ExtraLight'), local('SourceCodePro-ExtraLight'), url(https://s.szen.in/f/sourcecodepro-v3-normal-200.woff) format('woff');
}
@font-face {
  font-family: 'Nova Script';
  font-style: normal;
  font-weight: 400;
  src: local('Nova Script'), local('NovaScript'), url(https://s.szen.in/f/novascript-v5-normal-400.woff) format('woff');
}

body {
  font-family: 'Helvetica Neue', 'Microsoft Yahei', sans-serif;
}
h1, h2, h3, h4, blockquote,
h1 code, h2 code, h3 code, h4 code, blockquote code,
.archive-month .post,
.blog-license {
  font-family: 'Georgia', 'Times New Roman', serif;
}
code,
.blog-title::before, .blog-title::after,
.blog-power {
  font-family: 'Source Code Pro', Monaco, Console, 'Courier New', monospace;
}
p a, time,
.tag {
  font-family: 'Nova Script', cursive;
}
.blog-title a {
  font-family: 'Almendra', sans-serif;
}
.blog-brief,
.archive-month legend div {
  font-family: 'Arizonia', cursive;
}
.blog-pages a,
.page-leftbar legend, .page-rightbar legend {
  font-family: 'Tahoma', 'Arial', sans-serif;
}

body {
  color: #191919;
  background-color: #E6E6E6;
}
.page-header {
  background-color: #88B53C;
  padding-top: .4em;
}
.blog-title {
  padding-top: 2em;
  color: #4C4C4C;
  background-color: #191919;
}
.blog-title a {
  color: #CCFF66;
  text-shadow: 0 0 .1em #4C4C4C;
}
.blog-title a:hover {
  text-shadow: .1em .1em .1em #4C4C4C;
}
.blog-brief {
  color: #4C4C4C;
  font-style: normal;
  font-size: 1.2em;
  padding-top: .5em;
  padding-bottom: .5em;
  letter-spacing: .1em;
  text-shadow: 0 .1em .1em #E6E6E6;
}
.blog-brief a {
  color: inherit;
}
.blog-pages {
  font-size: .8em;
  background-color: #E6E6E6;
}
.blog-pages li {
  padding: 0;
  line-height: 1;
}
.blog-pages a {
  background-color: #88B53C;
  padding: .5em .6em 1em .6em;
  border-radius: .3em .3em 1em 1em;
  text-shadow: 0 .1em .1em #E6E6E6;
  color: inherit;
}
.blog-pages a:hover {
  background-color: #CCFF66;
}
.page-main a, .page-leftbar a, .page-rightbar a {
  color: #88B53C;
}
.page-main a:hover, .page-leftbar a:hover, .page-rightbar a:hover {
  text-shadow: 0 -.1em .2em #CCFF66;
  text-decoration: underline;
}
.article-header {
  border-bottom: .4em solid #88B53C;
}
.article-excerpt .highlight, .article-content .highlight,
.article-excerpt blockquote, .article-content blockquote,
.article-excerpt img, .article-content img {
  border: .2em solid #88B53C;
}
.article-excerpt .highlight:hover, .article-content .highlight:hover,
.article-excerpt blockquote:hover, .article-content blockquote:hover,
.article-excerpt img:hover, .article-content img:hover {
  border-color: #CCFF66;
}
.article-excerpt blockquote, .article-content blockquote {
  background-color: #CCCCCC;
  border-left-width: .5em;
}
.article-excerpt code, .article-content code {
  border: .2em solid #88B53C;
  background-color: #222324;
  color: #F8F8F2;
  padding: .1em .4em;
  border-radius: .5em;
}
.article-excerpt code:hover, .article-content code:hover {
  border-color: #CCFF66;
}
.article-excerpt .highlight code, .article-content .highlight code {
  border-width: 0;
}
.article-tags a {
  background-color: #88B53C;
  border-radius: .8em;
  text-shadow: 0 1px 1px #E6E6E6;
  color: inherit;
}
.article-tags a:hover {
  background-color: #CCFF66;
}
.article-siblings, .article-more {
  color: #88B53C;
}
.archive-month legend {
  text-transform: capitalize;
}
.archive-posts div::before {
  content: '✍';
}
.archive-tags .tag {
  color: inherit;
}
.page-leftbar {
  left: .4em;
}
.page-leftbar fieldset {
  border-left: .4em solid #88B53C;
}
.page-rightbar {
  right: .4em;
}
.page-rightbar fieldset {
  border-right: .4em solid #88B53C;
}
.page-leftbar legend, .page-rightbar legend {
  font-weight: normal;
  border-bottom: .2em solid #88B53C;
}
.page-footer {
  background-color: #88B53C;
  padding-bottom: .4em;
}
.blog-power {
  color: #4C4C4C;
  text-shadow: 0 .1em .1em #E6E6E6;
}
.blog-power::before {
  content: '/* ';
}
.blog-power::after {
  content: ' */';
}
.blog-power a {
  font-variant: normal;
  color: inherit;
  font-weight: bold;
}
.blog-license {
  background-color: #191919;
  padding: .4em 0 .6em 0;
  color: #88B53C;
  font-size: .8em;
}
.blog-license a {
  color: inherit;
}
.blog-license img {
  top: .2em;
}

.plugin-tags-cloud li {
  line-height: 1;
}
