<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; Charset=utf-8"/>
  <title>{% case page.type %}{% when 'tag' %}Posts with Tag "{{ page.tag | capitalize }}" - {{ site.title | capitalize }}{% when 'month' %}Posts in {{ page.month | date_to_long_string }} - {{ site.title | capitalize }}{% when 'index' %}{{ site.title | capitalize }} -- {{ site.author.name | capitalize }}'s blog{% else %}{{ page.title | capitalize }} - {{ site.title | capitalize }}{% endcase %}</title>
{% if site.services.google.webmaster.site-verification %}{% include plugins/google-webmaster.html %}{% endif %}  <meta name="author" content="{{ site.author.name }}" />
  <meta name="keywords" content="{{ site.author.name }},{{ site.title }},Technical Blog,Architect,GNU Linux,Geek Blog,Mac OS X" />
  <meta name="description" content="{{ site.title }}, is a personal blog of {{ site.author.name }}, focus on engineering technology, geek favors and home console entertainment." />
  <meta name="creator" content="{{ site.author.name }}" />
  <meta name="publisher" content="{{ site.author.name }}" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
  <meta name="format-detection" content="telephone=no,address=no" />
  <meta name="robots" content="{% if page.robots %}{{ page.robots | join:',' }}{% else %}index,follow{% endif %}" />
  <meta name="msapplication-TileImage" content="{{ site.asset.url }}/i/icon-144.png" />
  <link rel="apple-touch-icon" href="{{ site.asset.url }}/i/icon-144.png" type="image/png" />
  <link rel="shortcut icon" href="{{ site.asset.url }}/favicon.ico" />
  <link rel="icon" href="{{ site.asset.url }}/i/icon-32.png" sizes="16x16 32x32" type="image/png" />
  <link rel="icon" href="{{ site.asset.url }}/i/icon-64.png" sizes="48x48 64x64" type="image/png" />
  <link rel="icon" href="{{ site.asset.url }}/i/icon-144.png" sizes="128x128" type="image/png" />
  <link rel="icon" href="{{ site.asset.url }}/i/icon.svg" sizes="any" type="image/svg" />
  <link rel="stylesheet" href="{{ site.asset.url }}/c/main.css"/>
  <link rel="stylesheet" href="{{ site.asset.url }}/c/style.css"/>
  <link rel="stylesheet" href="{{ site.asset.url }}/c/hilite.css"/>
  <link rel="author" href="http://about.me/{{ site.author.aboutme }}" />
  <link rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.en_US" />
  <link rel="index" href="/" />
  <link rel="up" href="/" />{% for tag in page.tags %}
  <link rel="tag" href="/tag/{{ tag }}.html" />{% endfor %}
  <link rel="archives" href="/archive.html" />
  <link rel="alternate" href="/atom.xml" title="{{ site.title }} by {{ site.author.name }}" type="application/atom+xml" />
</head>
<body>
  <header><div class="page-header">
    <div class="blog-title">
      <a href="/">{{ site.title }}</a>
    </div>
    <div class="blog-brief">
      <span>New Originals by </span>
      <a href="http://about.me/{{ site.author.aboutme }}" target="_blank">{{ site.author.name }}</a>
      <span> restarted in 2013</span>
    </div>
    <nav><ul class="blog-pages">{% for fpage in site.pages %}{% if fpage.navigation and fpage.title != page.title %}
      <li>
        <a href="{{ fpage.url }}" title="{{ fpage.title }}">{{ fpage.title }}</a>
      </li>{% endif %}{% endfor %}
      <li class="blog-rss">
        <a href="/atom.xml" title="RSS">RSS</a>
      </li>
    </ul></nav>
  </div></header>
