{% include header.html %}  <article><div class="article">
    <header><div class="header">
      <h1>{{ page.title }}</h1>
      <div class="time">
        <time pubdate="true" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>
      </div>{% if page.excerpt %}
      <div class="excerpt">
{{ page.excerpt | markdownify }}      </div>{% endif %}
    </div></header>
    <section><div class="section">
{{ content | markdownify }}    </div></section>
    <footer><div class="footer">{% capture tags_size %}{{ page.tags | size }}{% endcapture %}{% if tags_size != "0" %}
      <fieldset>
        <legend>Tags</legend>
        <nav><ul>{% for tag in page.tags %}
          <li>
            <a href="/tag/{{ tag }}.html" title="{{ tag }}">{{ tag }}</a>
          </li>{% endfor %}
        </ul></nav>
      </fieldset>{% endif %}{% assign tags_size = nil %}{% if page.next or page.previous %}
      <fieldset>
        <legend>Siblings</legend>
        <nav>
          <ul>
            <li>{% if page.next %}
              <a href="{{ page.next.url }}">{{ page.next.title }}</a>{% else %}
              <a href="/">Index</a>{% endif %}
            </li>
            <li>{% if page.previous %}
              <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>{% else %}
              <a href="/archive.html">Archive</a>{% endif %}
            </li>
          </ul>
        </nav>
      </fieldset>{% endif %}{% if site.author.disqus %}
{% include disqus/thread.html %}{% endif %}    </div></footer>
  </div></article>
{% include footer.html %}
