{% include header.html %}    <div>
      <section>
        <div>
          <article>
            <header>
              <div>
                <h1>{{ page.title }}</h1>
                <address>
                  <time pubdate="true" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>
                </address>{% if page.excerpt %}
                <div>{{ page.excerpt | markdownify }}</div>{% endif %}
              </div>
            </header>
            <main>
{{ page.content | markdownify }}
            </main>{% capture tags_size %}{{ page.tags | size }}{% endcapture %}{% if tags_size != "0" %}
            <footer>
              <fieldset>
                <legend>Tags</legend>
                <ul>
{% for tag in page.tags %}                  <li>
                    <a href="/tag/{{ tag }}.html" title="{{ tag }}">{{ tag }}</a>
                  </li>{% endfor %}
                </ul>
              </fieldset>
            </footer>{% endif %}{% assign tags_size = nil %}
          </article>
        </div>
      </section>
    </div>{% if page.next or page.previous %}
    <div>
      <section>
        <div>
          <ul>
            <li>
              {% if page.next %}<a href="{{ page.next.url }}">{{ page.next.title }}</a>{% else %}<span>Latest already</span>{% endif %}
            </li>
            <li>
              {% if page.previous %}<a href="{{ page.previous.url }}">{{ page.previous.title }}</a>{% else %}<span>Earliest already</span>{% endif %}
          </li>
          </ul>
        </div>
      </section>
    </div>{% endif %}
{% include footer.html %}
