@font-face {
  font-family: 'Almendra';
  font-style: normal;
  font-weight: 400;
  src: local('Almendra'),
    local('Almendra-Regular'),
    url('/s/f/almendra-v5-400.woff') format('woff'),
    url('https://themes.googleusercontent.com/static/fonts/almendra/v5/EuUT8I7QXLgT3dVSB6wEd3YhjbSpvc47ee6xR_80Hnw.woff') format('woff');
}
@font-face {
  font-family: 'Almendra';
  font-style: normal;
  font-weight: 700;
  src: local('Almendra'),
    local('Almendra-Regular'),
    url('/s/f/almendra-v5-400.woff') format('woff'),
    url('https://themes.googleusercontent.com/static/fonts/almendra/v5/EuUT8I7QXLgT3dVSB6wEd3YhjbSpvc47ee6xR_80Hnw.woff') format('woff');
}
@font-face {
  font-family: 'Almendra';
  font-style: italic;
  font-weight: 400;
  src: local('Almendra Italic'),
    local('Almendra-Italic'),
    url('/s/f/almendra-v5-400italic.woff') format('woff'),
    url('https://themes.googleusercontent.com/static/fonts/almendra/v5/b8oLPOtioxOKaUF_o5IisL3hpw3pgy2gAi-Ip7WPMi0.woff') format('woff');
}
@font-face {
  font-family: 'Almendra';
  font-style: italic;
  font-weight: 700;
  src: local('Almendra Italic'),
    local('Almendra-Italic'),
    url('/s/f/almendra-v5-400italic.woff') format('woff'),
    url('https://themes.googleusercontent.com/static/fonts/almendra/v5/b8oLPOtioxOKaUF_o5IisL3hpw3pgy2gAi-Ip7WPMi0.woff') format('woff');
}
@font-face {
  font-family: 'Arizonia';
  font-style: italic;
  font-weight: 400;
  src: local('Arizonia'),
    local('Arizonia-Regular'),
    url('/s/f/arizondia-v3-400.woff') format('woff'),
    url('https://themes.googleusercontent.com/static/fonts/arizonia/v3/8Usm7f8XTsZinW2e-ZMd5XYhjbSpvc47ee6xR_80Hnw.woff') format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro Light'),
    local('SourceCodePro-Light'),
    url('/s/f/sourcecodepro-v3-300.woff') format('woff'),
    url('https://themes.googleusercontent.com/static/fonts/sourcecodepro/v3/leqv3v-yTsJNC7nFznSMqcVNtom4QlEDNJaqqqzqdSs.woff') format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Code Pro Light'),
    local('SourceCodePro-Light'),
    url('/s/f/sourcecodepro-v3-300.woff') format('woff'),
    url('https://themes.googleusercontent.com/static/fonts/sourcecodepro/v3/leqv3v-yTsJNC7nFznSMqcVNtom4QlEDNJaqqqzqdSs.woff') format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'),
    url('/s/f/raleway-v6-400.woff') format('woff'),
    url('https://themes.googleusercontent.com/static/fonts/raleway/v6/cIFypx4yrWPDz3zOxk7hIQLUuEpTyoUstqEm5AMlJo4.woff') format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway SemiBold'),
    local('Raleway-SemiBold'),
    url('/s/f/raleway-v6-600.woff') format('woff'),
    url('https://themes.googleusercontent.com/static/fonts/raleway/v6/xkvoNo9fC8O2RDydKj12b73hpw3pgy2gAi-Ip7WPMi0.woff') format('woff');
}

body,
.page-header .blog-pages a,
.page-wrapper .page-main .blog-post .post-header .post-time :first-child {
  font-family: 'Raleway', 'Helvetica Neue', 'Cantarell', 'Arial', sans-serif;
}
h1, h2, h3, h4, h5, h6,
.post,
.page-header .blog-title a,
.page-footer .blog-license {
  font-family: 'Almendra', 'Geogria', 'Times New Roman', serif;
}
.page-header .blog-brief {
  font-family: 'Arizonia', cursive;
}
.page-header .blog-title,
.page-wrapper .page-main .blog-post .post-content code {
  font-family: 'Source Code Pro', 'Monaco', 'Console', 'Courier New', monospace;
}

body {
  background-color: #eaffc1;
  color: #14190a;
}
a {
  color: #667f33;
}
a:hover {
  color: #99bf4c;
}

.page-header {
  background-color: #99bf4c;
  padding-top: .2em;
  margin-bottom: 0;
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, .4),
    0 1px 1px rgba(255, 255, 255, .4);
}
.page-header .blog-title {
  margin: 0;
  padding: 3em 0 1em 0;
  background-color: #14190a;
  color: #4c5f26;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, .3);
  text-shadow: 0 .1em rgba(255, 255, 255, .1);
}
.page-header .blog-title::before {
  content: 'LIFE=$(\'';
}
.page-header .blog-title::after {
  content: '\')';
}
.page-header .blog-title a {
  color: #ccff66;
}
.page-header .blog-title a:hover {
  text-decoration: none;
}
.page-header .blog-brief {
  letter-spacing: .1em;
  color: #4c5f26;
  background-color: #14190a;
  margin: 0;
  padding-bottom: .3em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  text-shadow: 0 .1em rgba(255, 255, 255, .1);
}
.page-header .blog-brief a:hover {
  text-decoration: none;
}
.page-header .blog-pages {
  margin-top: 0;
  margin-bottom: 0;
}
.page-header .blog-pages li {
  margin: 0;
}
.page-header .blog-pages li a {
  display: inline-block;
  padding: .4em .7em .3em .7em;
  color: inherit;
  text-shadow: 0 .1em rgba(255, 255, 255, .4);
}
.page-header .blog-pages li a:hover {
  text-decoration: none;
  background-color: #14190a;
  color: #99bf4c;
  box-shadow: 0 1px 1px #000;
  text-shadow: none;
}
.page-header .blog-pages li a::before,
.page-header .blog-pages li a::after
{
  content: '';
}
.page-wrapper {
  width: 100%;
  margin: 0;
}
.page-wrapper .page-main {
  background-color: #f9ffef;
  float: right;
  width: 62%;
  margin: 0 2px 2.5em 0;
  border-left: 1px solid #99bf4c;
}
.page-wrapper .page-main .page-nav {
  top: 8.5em;
  padding-left: 1em;
  text-shadow: 0 .1em rgba(255, 255, 255, .4);
}
.page-wrapper .page-main .page-nav a,
.page-wrapper .page-main .page-nav span {
  display: inline-block;
  padding: .4em .7em .3em .7em;
}
.page-wrapper .page-main .page-nav a {
  color: inherit;
}
.page-wrapper .page-main .page-nav a:hover {
  text-decoration: none;
  background-color: #14190a;
  color: #99bf4c;
  box-shadow: 0 1px 1px #000;
  text-shadow: none;
}
.page-wrapper .page-main .blog-post {
  max-width: 720px;
  text-shadow: 0 1px 1px #fff;
}
.page-wrapper .page-main .blog-post .post-header > :first-child {
  border-left: .3em solid #99bf4c;
  margin: 1.5em 0 .5em 0;
  padding: .5em 1em;
  text-align: left;
}
.page-wrapper .page-main .blog-post .post-header .post-time {
  margin-bottom: 1.5em;
}
.page-wrapper .page-main .blog-post .post-header .post-time a {
  margin: 0 .3em;
}
.page-wrapper .page-main .blog-post .post-header .post-time > :first-child {
  border-top: .2em solid #99bf4c;
  padding: 0 .4em;
  font-style: oblique;
}
.page-wrapper .page-main .blog-post .post-header .post-time .tag::before,
.page-wrapper .page-main .blog-tags .tag::before {
  content: '\2611\20\2039';
  color: #99bf4c;
  margin-right: .1em;
}
.page-wrapper .page-main .blog-post .post-header .post-time .tag::after,
.page-wrapper .page-main .blog-tags .tag::after {
  content: '\203A';
  color: #99bf4c;
  margin-left: .1em;
}
.page-wrapper .page-main .blog-post .post-header .post-time .keyword {
  display: none;
}
.page-wrapper .page-main .blog-post .post-header .post-excerpt,
.page-wrapper .page-main .blog-post .post-content {
  color: #1e1433;
}
.page-wrapper .page-main .blog-post .post-header .post-excerpt {
  margin: 2em;
}
.page-wrapper .page-main .blog-post .post-content > h2,
.page-wrapper .page-main .blog-post .post-content > h3,
.page-wrapper .page-main .blog-post .post-content > h4 {
  margin: .5em 0;
  border-left: .2em solid #99bf4c;
  padding: .5em 1em;
  text-shadow: 0 1px 1px #fff;
}
.page-wrapper .page-main .blog-post .post-content p:nth-child(2n) {
  color: #2d1e4c;
}
.page-wrapper .page-main .blog-post .post-content a {
  text-decoration: underline;
}
.page-wrapper .page-main .blog-post .post-content a[href]::after {
  content: '\293c';
  color: #99bf4c;
  margin-left: .3em;
  vertical-align: super;
  font-size: .4em;
  text-decoration: none;
}
.page-wrapper .page-main .blog-post .post-content code {
  font-size: .8em;
  background-color: #f4ffe0;
  border-radius: .3em;
  padding: .2em;
}
.page-wrapper .page-main .blog-post .post-content blockquote,
.page-wrapper .page-main .blog-post .post-content pre,
.page-wrapper .page-main .blog-post .post-content img {
  border-color: #667f33;
  background-color: #fff;
}
.page-wrapper .page-main .blog-post .post-content blockquote:hover,
.page-wrapper .page-main .blog-post .post-content pre:hover,
.page-wrapper .page-main .blog-post .post-content img:hover {
  border-color: #99bf4c;
}
.page-wrapper .page-main .blog-post .post-content pre code {
  background-color: transparent;
}
.page-wrapper .page-main .blog-post .post-content > p,
.page-wrapper .page-main .blog-post .post-content > blockquote,
.page-wrapper .page-main .blog-post .post-content > div,
.page-wrapper .page-main .blog-post .post-content > pre,
.page-wrapper .page-main .blog-post .post-content > ul,
.page-wrapper .page-main .blog-post .post-content > ol {
  margin: 1em 2em;
}
.page-wrapper .page-main .blog-post .post-footer,
.page-wrapper .page-main .blog-post .post-footer .post-more {
  margin: 1.5em 0 2em 0;
}
.page-wrapper .page-main .blog-post .post-footer .post-more a {
  font-style: normal;
  padding: 0 .8em;
  border-bottom: .2em solid #99bf4c;
}
.page-wrapper .page-main .blog-post .post-footer .post-more a:hover {
  text-decoration: none;
}
.page-wrapper .page-main .blog-post .post-footer legend {
  color: #99bf4c;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: normal;
}
.page-wrapper .page-main .blog-post .post-footer fieldset {
  margin: 1em 0;
}
.page-wrapper .page-main .blog-post .post-footer .post-siblings {
  color: #99bf4c;
  margin: 3em 1em;
  padding: 0 .3em;
  border: solid #99bf4c;
  border-width: 0 .2em;
}
.page-wrapper .page-main .blog-post .post-footer .post-siblings .post-next::before,
.page-wrapper .page-main .blog-post .post-footer .post-siblings .post-previous::after {
  margin: 0 .2em;
}
.page-wrapper .page-main .blog-post .post-footer .post-siblings a {
  font-size: 1.2em;
}
.page-wrapper .page-main .blog-tags .tag::before {
  content: '\2039';
  color: #99bf4c;
  margin-left: .1em;
}
.page-wrapper .page-main .blog-tags .tag + span::before,
.page-wrapper .page-main .blog-tags .tag + span::after {
  content: '';
}
.page-wrapper .page-sidebar {
  float: left;
  width: 37%;
  margin: 2.5em 0;
  text-shadow: -1px 1px 1px #f9ffef;
}
.page-wrapper .page-sidebar > section > fieldset {
  margin: 2em 14% 2em 24%;
}
.page-wrapper .page-sidebar > section > fieldset > legend {
  margin: 1em 0;
  text-align: center;
}
.page-footer {
  background-color: #99bf4c;
  width: 100%;
  padding-top: .3em;
  position: fixed;
  bottom: 0;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, .4),
    0 -1px 1px rgba(0, 0, 0, .4),
    0 -1px .5em rgba(255, 255, 255, .3),
    0 -1px 2em rgba(255, 255, 255, .3),
    0 -1px 4em rgba(255, 255, 255, .3);
}
.page-footer .blog-license {
  color: #99bf4c;
  background-color: #14190a;
  margin: 0;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, .3),
    0 1px 1px rgba(0, 0, 0, .3);
  text-shadow: 0 .1em rgba(255, 255, 255, .1);
}
.page-footer .blog-license a {
  color: inherit;
}
.page-footer .blog-license a img {
  border: 0;
  position: relative;
  top: .3em;
}
.page-footer .blog-power {
  margin: 0;
  padding: .3em 0;
  text-shadow: 0 .1em rgba(255, 255, 255, .4);
}
.page-footer .blog-power a {
  color: inherit;
  font-weight: bold;
}

.page-wrapper .page-sidebar .side-archive li a {
  display: block;
  float: left;
  width: 62%;
  text-align: right;
  clear: left;
  margin: .1em 0;
}
.page-wrapper .page-sidebar .side-archive li span {
  display: block;
  float: right;
  width: 36%;
  clear: right;
  font-size: 1em;
  margin: .1em 0;
}

.page-wrapper .page-main .blog-post .post-footer .plugin-disqus-thread {
  margin: 1em;
}

.page-wrapper .page-sidebar .plugin-twitter-timeline li {
  margin: 1em 0;
}
.page-wrapper .page-sidebar .plugin-twitter-timeline li::before {
  vertical-align: bottom;
  margin-right: .2em;
}
.page-wrapper .page-sidebar .plugin-twitter-timeline .speaker {
  display: none;
}
.page-wrapper .page-sidebar .plugin-twitter-timeline .words::before {
  content: '\201C';
}
.page-wrapper .page-sidebar .plugin-twitter-timeline .words::after {
  content: '\201D ';
}
.page-wrapper .page-sidebar .plugin-twitter-timeline .time {
  margin: 0 0 1em 0;
}
